@use "../../style/utilities";

.mainContent__aside {
    height: 100vh;
    width: 230px;
    background-color: utilities.$aside-background-color-1;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    position: fixed;

    &::-webkit-scrollbar {
        display: none;
    }
    transition: width 1s ease-in-out;
}

.aside__header {
    height: 44px;
    padding: 0px 15px;
    margin-bottom: 10px;
    background-color: utilities.$aside-background-color-2;
    position: relative;
}

.header__image {
    padding: 10px 0;
    cursor: pointer;
    
    img {
        width: 10rem;
    }

    figcaption {
        display: none;
    }
}

.header__arrowImage {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 24px;
    cursor: pointer;
}

.aside__nav {
    height: 100%;
    font-size: 1rem;
    padding: 30px 22px 30px 22px;
    padding: 0px 15px;
    
    a:first-child {
        display: flex;
        align-items: center;
        @include utilities.anchorHoverColor;
    }

    img {
        margin-right: 5px;
    }

    .nav_group {
        margin-top: 30px;
        

        span:first-child {
            color: utilities.$aside-textcolor-2;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;

            margin-top: 15px;

            details > summary,
            a > span {
                @include utilities.anchorHoverColor;
            }
            
            details {
                display: flex;
                cursor: pointer;

                summary {

                    color: utilities.$aside-textcolor-1;
                    list-style: none;

                    &::-webkit-details-marker {
                        display: none;
                    }
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    margin-top: 13px;
                    padding-left: 40px;
                }
            }
        }
    }
}

.aside__button {
    @include utilities.button;
    width: 90%;
    margin: 20px auto;
}

.activePage {

    span {
        color: utilities.$aside-active-textcolor !important;
    }

    img {
        filter: brightness(0) saturate(100%) invert(30%) sepia(16%) saturate(7490%) hue-rotate(185deg) brightness(92%) contrast(98%); // Equivalente a utilities.$aside-secondary-color
    }
}

.closed {
    width: 45px;

    img:nth-child(2) {
        transform: rotate(180deg);
        transition: transform 0.9s;
    }

    figure {
        opacity: 0;
        transition: opacity 1s;
    }

    span {
        opacity: 0;
        white-space: nowrap;
        transition: all 1s;
    }

    button {
        display: none;
    }

    transition: width 1s ease-in-out;
}