@use "../../style/utilities";

.mainContent__aside {
    height: 100vh;
    width: 230px;
    background-color: utilities.$aside-background-color-1;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

.aside__header {
    padding: 0px 15px;
    margin-bottom: 10px;
    background-color: utilities.$aside-background-color-2;
    display: flex;
    justify-content: space-between;
}

.header__image {
    padding: 10px 0;
    cursor: pointer;

    img {
        width: 10rem;
    }

    figcaption {
        display: none;
    }
}

.header__arrowImage {
    cursor: pointer;
}

.aside__nav {
    height: 100%;
    font-size: 1rem;
    padding: 30px 22px 30px 22px;
    padding: 0px 15px;
    
    a:first-child {
        display: flex;
        align-items: center;
        @include utilities.anchorHoverColor;
    }

    img {
        margin-right: 5px;
    }

    .nav_group {
        margin-top: 30px;
        

        span:first-child {
            color: utilities.$aside-textcolor-2;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;

            margin-top: 15px;

            li > a,
            details > summary,
            div > a {
                @include utilities.anchorHoverColor;
            }
            
            details {
                display: flex;
                cursor: pointer;

                summary {

                    color: utilities.$aside-textcolor-1;
                    list-style: none;

                    &::-webkit-details-marker {
                        display: none;
                    }
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    margin-top: 13px;
                    padding-left: 40px;
                }
            }
        }
    }
}

.aside__button {
    padding: 10px 0px;
    width: 90%;

    background-color: utilities.$aside-secondary-color;
    color: white;
    font-weight: 600;
    cursor: pointer;

    border: transparent;
    border-radius: 8px;

    align-self: center;

    margin-bottom: 20px;
}

.activePage {
    color: utilities.$aside-active-textcolor !important;

    img {
        filter: brightness(0) saturate(100%) invert(30%) sepia(16%) saturate(7490%) hue-rotate(185deg) brightness(92%) contrast(98%); // Equivalente a utilities.$aside-secondary-color
    }
}