/* Variáveis para Aside */

$aside-background-color-1: #1E1E2D;
$aside-background-color-2: #1A1A27;
$aside-secondary-color: #0267B0;
$aside-textcolor-1: #9293A6;
$aside-textcolor-2: #4B4D6E; 
$aside-active-textcolor: #FFFFFF;
$aside-icon-color: #414368;

/* Variáveis para Main */
$main-background-color: #FFFFFF;
$main-title-color: #191C32;
$main-category-color: #000000;
$main-date-color: #7F8299;