@use "../../style/utilities";

.main__category {
    @include utilities.pageContainer;
}

.category__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}

.category__list {
    height: 320px;

    display: flex;
    justify-content: space-around;
    gap: 25px;

    position: relative;
    &:hover > .list_arrowLeft, &:hover > .list_arrowRight {
        opacity: 1;
    }
    
    @media screen and (min-width: 768px) {
        height: 280px;
    }
}

.list_arrowLeft, .list_arrowRight {
    position: absolute;
    z-index: 2;
    
    width: 40px;
    height: 100%;
    
    background-color: #1a1a279c;
    opacity: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    
    transition: opacity 0.5s;
    
    svg {
        transition: width 0.3s, fill 0.3s;
    }
    
    &:hover > svg {
        width: 10px;
        fill: white;

    }

    @media screen and (min-width: 768px) {
        opacity: 0;
    }

}

.list_arrowLeft {
    left: 0;
    border-radius: 8px 0 0 8px;
}

.list_arrowRight {
    right: 0;
    border-radius: 0 8px 8px 0;
}

.list__pagination {
    text-align: end;
    font-size: 12px;
    color: utilities.$main-date-color;
}