@use "../../style/utilities";

.main__category {
    padding: 40px;
    background-color: utilities.$main-background-color-2;
    border-radius: 10px;
    h2 {
        color: utilities.$main-category-color;
        font-size: 22px;
        font-weight: 800;
        padding-bottom: 15px;
        border-bottom: 1px dashed utilities.$main-date-color;
        margin-bottom: 25px;
    }
}

.category__list {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
}

.list__container {
    width: 200px;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        height: 120px;
        border-radius: 8px;
    }
}