@use "./style/utilities";

.pageContent {
  display: flex;
  width: 100%;
}

.pageContent__main {
  margin-left: 230px;
  width: 100%;
  
  main {
    padding: 20px;
    background-color: utilities.$main-background-color;
  }
}