@use "./style/utilities";

.pageContent {
  display: flex;
  width: 100%;
}

.pageContent__main {
  width: calc(100% - 230px);
  
  main {
    padding: 20px;
    background-color: utilities.$main-background-color;
  }
}